/**
 */
body > div.container {
  margin-top: 50px;
  position: relative;
}

table.events {
  margin-left: 30px;
}

th.dates, td.dates {
  width: 15%;
}

th.spans, td.spans {
  width: 5%;
}

th.action, td.action {
  width: 5%;
  text-align: right;
}

#spans {
  position: absolute;
  left: 0;
}

td {
  vertical-align: top;
}

a.edit-event {
  display: none;
}