/**
 */
body > div.container {
  padding-left: 75px;
  margin-top: 50px;
  position: relative;
}

th.dates, td.dates {
  width: 15%;
}

th.spans, td.spans {
  width: 5%;
}

th.action, td.action {
  width: 5%;
  text-align: right;
}

td.dates.public {
  color: red;
}

#spans {
  position: absolute;
  left: 0;
}

td {
  vertical-align: top;
}

.col-md-4 .checkbox {
  margin-top: 30px;
}

span.with-details {
  cursor: pointer;
}